<%- include partial/head.ejs %>

<section id="bill">
  <h1 class="title">Bill Manager</h1>
  <h2 class="title">TP Front</h2>
  <p>
    Coder les éléments d'UI pour le CRUD factures (table bill).
  </p>
  <hr>
  <h2 class="title">TP back</h2>
  <p>
    Coder l'API et les fonctions du modèle pour manipuler la table bill.
  </p>
</section>

<%- include partial/footer.ejs %>
