<%- include partial/head.ejs %>



<section id="country">
    <h1 class="title">
        <%= title %>
    </h1>
    <h3 class="title">TP front</h3>
    <p>
        Arranger la navigation actuelle (#nav_main) puis,<br>
        Créer un menu burger combiné à une navigation utilisant la transition CSS3.<br>
        Ecouter les clicks sur une icône burger (ex: fontawesome) pour...<br>
        ajouter ou supprimer la classe CSS is-active, sur l'icône ET le menu.<br>
        Choisissez la façon dont le menu apparaît : s'inspirer de sites pros ou suivre son inspiration ...<br><br>
        <b>INDICES</b> :<br> NE pas oublier les positionnements lors du travail avec les propriétés top, right, bottom et left !<br>
        L'îcone burger apparaît uniquement au format tablette et smartphones.<br>Le menu au format desktop est alors masqué.
    </p>
    <hr>
    <h3 class="title">TP back</h3>
    <p>
        Ajouter un module C.R.U.D à notre application client-server. <br>
        Il servira à manipuler la table country de notre BDD.<br>
    </p>
    <p>
        Coder les composants (MVC like) nécessaires pour:
    </p>
    <ul>
        <li>Ajouter (CREATE)</li>
        <li>Lister (READ)</li>
        <li>Mettre à jour (UPDATE)</li>
        <li>Supprimer (DELETE)...</li>
        <li>... des pays : )</li>
    </ul>
    <p>
        Modulariser votre code =>
    </p>
    <ul>
        <li>checker ooCSS => voir aussi SMACSS</li>
        <li>vue .ejs</li>
        <li>modele</li>
        <li>route d'api</li>
    </ul>
    </p>
</section>

<%- include partial/footer.ejs %>
