<%- include partial/head.ejs %>

<section id="user">
  <h1 class="title">Manage Users</h1>
  <h3 class="title">TP front</h3>
  <p>
    Coder un module de type tableur pour lister les users ( @view/partial/ ).<br>
    Conseil: préférer l'élément HTML table, bien adapté à cette tâche.<br>
    Ajouter des filtres pour trier les lignes (ex: par id, par nom...).<br>
    Indices: (re)voir la fonction Array.filter, Array.sort et les méthodes de manipulation du DOM.<br>
  </p>
  <hr>
  <h3 class="title">TP back</h3>
  <p>
    A / On souhaite connaître l'âge de nos users.<br>
    Prendre le code de <b>@js/block_05/03_mysql_connect</b> pour exemple.<br>
    Modifier le form de la vue HTML, la table de bdd, les fonctions du modèle (@model/user.js).
  </p>
  <p>
    B / On souhaite connaître le pays de nos users.<br>
    Ajouter les éléments de vue, d'api et de modèle pour pouvoir associer l'id d'un pays à un user.
  <p>
    C / Ajouter une colonne "modifier" au tableur user (view).<br>
    Chaque ligne user dispose maintenant d'un boutton ou une icône.<br>
    Au click, afficher toutes les informations d'un utilisateur sur une page dediée.<br>
  </p>
</section>

<%- include partial/footer.ejs %>
